<section>
  <article class="wrap">
    <p class="flash"><%= notice %><%= alert %></p>

    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 hidden-xs">
          <div class="mockup">
            <div class="img_position">
            <ul class="bxslider">
              <li><img src=<%=asset_path"feed.png" %>></li>
              <li><img src=<%=asset_path"edit.png" %>></li>
              <li><img src=<%=asset_path"cat.png" %>></li>
              <li><img src=<%=asset_path"cancel.png" %>></li>
              <li><img src=<%=asset_path"profile.png" %>></li>
            </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form_wrap">
            <div class="signup">
              <div class="logo">
                <h1>Instagraph</h1>
              </div>
              <div class="form">
                <h2>写真を投稿してみよう</h2>

                <div><%= link_to"SNSでログイン",new_user_session_path,class: 'btn btn-primary btn-block'  %></div>
                  <div class="input">
                    <p><span>または</span></p>
                  </div>

                  <%= render'form' %>

                  <p class="pp">登録することで、利用規約とプライバシーポリシーに同意するものとします。</p>
              </div>
            </div>

            <div class="signup">
              <% if user_signed_in? %>
                <li><p class="account"><%= link_to 'ログアウトする',destroy_user_session_path, method: :delete %></p></li>
              <% else %>
                <li><p class="account">アカウントをお持ちですか？<%=link_to'ログインする', new_user_session_path %></p></li>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
